@model WeatherApp.Domain.DomainModels.Location

@{
    ViewData["Title"] = "Create Location";
}

<h1>Create Location</h1>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label asp-for="City"></label>
        <input asp-for="City" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Country"></label>
        <input asp-for="Country" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Latitude"></label>
        <input asp-for="Latitude" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Longitude"></label>
        <input asp-for="Longitude" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Create</button>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>
